wsdl/ServiceMobile.wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ServiceMobile" targetNamespace="http://mobile.saq.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mobile.saq.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
         <xsd:import namespace="http://mobile.saq.com/" schemaLocation="../../xsd/OAGIS/9.0/Overlays/SAQ/Resources/Nouns/ServiceMobile.xsd"/>
         <xsd:import namespace="http://mobile.saq.com/" schemaLocation="../../xsd/OAGIS/9.0/Overlays/SAQ/BODs/ServiceMobileType.xsd">
         </xsd:import>
      </xsd:schema>
  </types>
  <message name="getListeCepages">
    <part element="tns:SyncGetListeCepages" name="parameters">
    </part>
  </message>
  <message name="getLegalInfosResponse">
    <part element="tns:SyncGetLegalInfosResponse" name="parameters">
    </part>
  </message>
  <message name="getProduitsParMotCleResponse">
    <part element="tns:SyncGetProduitsParMotCleResponse" name="parameters">
    </part>
  </message>
  <message name="getListeCategoriesResponse">
    <part element="tns:SyncGetListeCategoriesResponse" name="parameters">
    </part>
  </message>
  <message name="getLegalInfos">
    <part element="tns:SyncGetLegalInfos" name="parameters">
    </part>
  </message>
  <message name="getPromotion">
    <part element="tns:SyncGetPromotion" name="parameters">
    </part>
  </message>
  <message name="getDetailsSuccursaleResponse">
    <part element="tns:SyncGetDetailsSuccursaleResponse" name="parameters">
    </part>
  </message>
  <message name="getRecettesResponse">
    <part element="tns:SyncGetRecettesResponse" name="parameters">
    </part>
  </message>
  <message name="getDetailRecetteResponse">
    <part element="tns:SyncGetDetailRecetteResponse" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUPV2Response">
    <part element="tns:SyncGetDetailProduitParCUPV2Response" name="parameters">
    </part>
  </message>
  <message name="getRecettesParAccordV2Response">
    <part element="tns:SyncGetRecettesParAccordV2Response" name="parameters">
    </part>
  </message>
  <message name="getSuccursalesResponse">
    <part element="tns:SyncGetSuccursalesResponse" name="parameters">
    </part>
  </message>
  <message name="getListePays">
    <part element="tns:SyncGetListePays" name="parameters">
    </part>
  </message>
  <message name="getRecettesV2Response">
    <part element="tns:SyncGetRecettesV2Response" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitV3Response">
    <part element="tns:SyncGetDetailProduitV3Response" name="parameters">
    </part>
  </message>
  <message name="getProduits">
    <part element="tns:SyncGetProduits" name="parameters">
    </part>
  </message>
  <message name="getProduitsResponse">
    <part element="tns:SyncGetProduitsResponse" name="parameters">
    </part>
  </message>
  <message name="getDetailProduit">
    <part element="tns:SyncGetDetailProduit" name="parameters">
    </part>
  </message>
  <message name="getDetailRecette">
    <part element="tns:SyncGetDetailRecette" name="parameters">
    </part>
  </message>
  <message name="getImageURLResponse">
    <part element="tns:SyncGetImageURLResponse" name="parameters">
    </part>
  </message>
  <message name="getListePrixResponse">
    <part element="tns:SyncGetListePrixResponse" name="parameters">
    </part>
  </message>
  <message name="getProduitsParMotCleV2">
    <part element="tns:SyncGetProduitsParMotCleV2" name="parameters">
    </part>
  </message>
  <message name="getListePaysResponse">
    <part element="tns:SyncGetListePaysResponse" name="parameters">
    </part>
  </message>
  <message name="getSuccursales">
    <part element="tns:SyncGetSuccursales" name="parameters">
    </part>
  </message>
  <message name="getProduitsV2Response">
    <part element="tns:SyncGetProduitsV2Response" name="parameters">
    </part>
  </message>
  <message name="getListePrix">
    <part element="tns:SyncGetListePrix" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUP">
    <part element="tns:SyncGetDetailProduitParCUP" name="parameters">
    </part>
  </message>
  <message name="getProduitsParAccordResponse">
    <part element="tns:SyncGetProduitsParAccordResponse" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitV2Response">
    <part element="tns:SyncGetDetailProduitV2Response" name="parameters">
    </part>
  </message>
  <message name="getRecettesParAccordV2">
    <part element="tns:SyncGetRecettesParAccordV2" name="parameters">
    </part>
  </message>
  <message name="getProduitsV2">
    <part element="tns:SyncGetProduitsV2" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUPResponse">
    <part element="tns:SyncGetDetailProduitParCUPResponse" name="parameters">
    </part>
  </message>
  <message name="getPromotionResponse">
    <part element="tns:SyncGetPromotionResponse" name="parameters">
    </part>
  </message>
  <message name="getRecettesParAccordResponse">
    <part element="tns:SyncGetRecettesParAccordResponse" name="parameters">
    </part>
  </message>
  <message name="getProduitsParMotCle">
    <part element="tns:SyncGetProduitsParMotCle" name="parameters">
    </part>
  </message>
  <message name="getListeCepagesResponse">
    <part element="tns:SyncGetListeCepagesResponse" name="parameters">
    </part>
  </message>
  <message name="getProduitsParAccord">
    <part element="tns:SyncGetProduitsParAccord" name="parameters">
    </part>
  </message>
  <message name="getListeTypesPlatResponse">
    <part element="tns:SyncGetListeTypesPlatResponse" name="parameters">
    </part>
  </message>
  <message name="getImageURL">
    <part element="tns:SyncGetImageURL" name="parameters">
    </part>
  </message>
  <message name="getListeTypesPlat">
    <part element="tns:SyncGetListeTypesPlat" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUPV3Response">
    <part element="tns:SyncGetDetailProduitParCUPV3Response" name="parameters">
    </part>
  </message>
  <message name="getMessage">
    <part element="tns:SyncGetMessage" name="parameters">
    </part>
  </message>
  <message name="getProduitsParAccordV2">
    <part element="tns:SyncGetProduitsParAccordV2" name="parameters">
    </part>
  </message>
  <message name="getMessageResponse">
    <part element="tns:SyncGetMessageResponse" name="parameters">
    </part>
  </message>
  <message name="getListePastillesResponse">
    <part element="tns:SyncGetListePastillesResponse" name="parameters">
    </part>
  </message>
  <message name="getProduitsParAccordV2Response">
    <part element="tns:SyncGetProduitsParAccordV2Response" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitV2">
    <part element="tns:SyncGetDetailProduitV2" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitV3">
    <part element="tns:SyncGetDetailProduitV3" name="parameters">
    </part>
  </message>
  <message name="getRecettesV2">
    <part element="tns:SyncGetRecettesV2" name="parameters">
    </part>
  </message>
  <message name="getListeCategories">
    <part element="tns:SyncGetListeCategories" name="parameters">
    </part>
  </message>
  <message name="getRecettes">
    <part element="tns:SyncGetRecettes" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitResponse">
    <part element="tns:SyncGetDetailProduitResponse" name="parameters">
    </part>
  </message>
  <message name="getDetailsSuccursale">
    <part element="tns:SyncGetDetailsSuccursale" name="parameters">
    </part>
  </message>
  <message name="getRecettesParAccord">
    <part element="tns:SyncGetRecettesParAccord" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUPV2">
    <part element="tns:SyncGetDetailProduitParCUPV2" name="parameters">
    </part>
  </message>
  <message name="getDetailProduitParCUPV3">
    <part element="tns:SyncGetDetailProduitParCUPV3" name="parameters">
    </part>
  </message>
  <message name="getListePastilles">
    <part element="tns:SyncGetListePastilles" name="parameters">
    </part>
  </message>
  <message name="getProduitsParMotCleV2Response">
    <part element="tns:SyncGetProduitsParMotCleV2Response" name="parameters">
    </part>
  </message>
  <portType name="ServiceMobile">
    <operation name="getListePastilles">
      <input message="tns:getListePastilles">
    </input>
      <output message="tns:getListePastillesResponse">
    </output>
    </operation>
    <operation name="getListePrix">
      <input message="tns:getListePrix">
    </input>
      <output message="tns:getListePrixResponse">
    </output>
    </operation>
    <operation name="getListeCepages">
      <input message="tns:getListeCepages">
    </input>
      <output message="tns:getListeCepagesResponse">
    </output>
    </operation>
    <operation name="getListePays">
      <input message="tns:getListePays">
    </input>
      <output message="tns:getListePaysResponse">
    </output>
    </operation>
    <operation name="getListeTypesPlat">
      <input message="tns:getListeTypesPlat">
    </input>
      <output message="tns:getListeTypesPlatResponse">
    </output>
    </operation>
    <operation name="getListeCategories">
      <input message="tns:getListeCategories">
    </input>
      <output message="tns:getListeCategoriesResponse">
    </output>
    </operation>
    <operation name="getDetailProduit">
      <input message="tns:getDetailProduit">
    </input>
      <output message="tns:getDetailProduitResponse">
    </output>
    </operation>
    <operation name="getDetailProduitParCUP">
      <input message="tns:getDetailProduitParCUP">
    </input>
      <output message="tns:getDetailProduitParCUPResponse">
    </output>
    </operation>
    <operation name="getDetailRecette">
      <input message="tns:getDetailRecette">
    </input>
      <output message="tns:getDetailRecetteResponse">
    </output>
    </operation>
    <operation name="getRecettesParAccord">
      <input message="tns:getRecettesParAccord">
    </input>
      <output message="tns:getRecettesParAccordResponse">
    </output>
    </operation>
    <operation name="getProduitsParAccord">
      <input message="tns:getProduitsParAccord">
    </input>
      <output message="tns:getProduitsParAccordResponse">
    </output>
    </operation>
    <operation name="getProduits">
      <input message="tns:getProduits">
    </input>
      <output message="tns:getProduitsResponse">
    </output>
    </operation>
    <operation name="getProduitsParMotCle">
      <input message="tns:getProduitsParMotCle">
    </input>
      <output message="tns:getProduitsParMotCleResponse">
    </output>
    </operation>
    <operation name="getRecettes">
      <input message="tns:getRecettes">
    </input>
      <output message="tns:getRecettesResponse">
    </output>
    </operation>
    <operation name="getSuccursales">
      <input message="tns:getSuccursales">
    </input>
      <output message="tns:getSuccursalesResponse">
    </output>
    </operation>
    <operation name="getMessage">
      <input message="tns:getMessage">
    </input>
      <output message="tns:getMessageResponse">
    </output>
    </operation>
    <operation name="getImageURL">
      <input message="tns:getImageURL">
    </input>
      <output message="tns:getImageURLResponse">
    </output>
    </operation>
    <operation name="getPromotion">
      <input message="tns:getPromotion">
    </input>
      <output message="tns:getPromotionResponse">
    </output>
    </operation>
    <operation name="getLegalInfos">
      <input message="tns:getLegalInfos">
    </input>
      <output message="tns:getLegalInfosResponse">
    </output>
    </operation>
    <operation name="getDetailsSuccursale">
      <input message="tns:getDetailsSuccursale">
    </input>
      <output message="tns:getDetailsSuccursaleResponse">
    </output>
    </operation>
    <operation name="getProduitsParMotCleV2">
      <input message="tns:getProduitsParMotCleV2">
    </input>
      <output message="tns:getProduitsParMotCleV2Response">
    </output>
    </operation>
    <operation name="getDetailProduitV2">
      <input message="tns:getDetailProduitV2">
    </input>
      <output message="tns:getDetailProduitV2Response">
    </output>
    </operation>
    <operation name="getDetailProduitParCUPV2">
      <input message="tns:getDetailProduitParCUPV2">
    </input>
      <output message="tns:getDetailProduitParCUPV2Response">
    </output>
    </operation>
    <operation name="getProduitsV2">
      <input message="tns:getProduitsV2">
    </input>
      <output message="tns:getProduitsV2Response">
    </output>
    </operation>
    <operation name="getProduitsParAccordV2">
      <input message="tns:getProduitsParAccordV2">
    </input>
      <output message="tns:getProduitsParAccordV2Response">
    </output>
    </operation>
    <operation name="getRecettesV2">
      <input message="tns:getRecettesV2">
    </input>
      <output message="tns:getRecettesV2Response">
    </output>
    </operation>
    <operation name="getRecettesParAccordV2">
      <input message="tns:getRecettesParAccordV2">
    </input>
      <output message="tns:getRecettesParAccordV2Response">
    </output>
    </operation>
    <operation name="getDetailProduitV3">
      <input message="tns:getDetailProduitV3">
    </input>
      <output message="tns:getDetailProduitV3Response">
    </output>
    </operation>
    <operation name="getDetailProduitParCUPV3">
      <input message="tns:getDetailProduitParCUPV3">
    </input>
      <output message="tns:getDetailProduitParCUPV3Response">
    </output>
    </operation>
  </portType>
  <binding name="ServiceMobileBinding" type="tns:ServiceMobile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getListePastilles">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListePrix">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListeCepages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListePays">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListeTypesPlat">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getListeCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduitParCUP">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailRecette">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecettesParAccord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduitsParAccord">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduitsParMotCle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecettes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSuccursales">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getImageURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPromotion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLegalInfos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailsSuccursale">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduitsParMotCleV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduitV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduitParCUPV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduitsV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProduitsParAccordV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecettesV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRecettesParAccordV2">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduitV3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDetailProduitParCUPV3">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServiceMobile">
    <port binding="tns:ServiceMobileBinding" name="ServiceMobile">
      <soap:address location="http://www.saq.com:9300/webapp/wcs/services/ServiceMobile"/>
    </port>
  </service>
</definitions>